<h2>Reset Password</h2>


<%= form_with url: password_reset_path(token: params[:token]), method: :patch do |f| %>
  
  <%= hidden_field_tag :token, params[:token] %>

  <div>
    <label>New Password</label>
    <%= password_field_tag :password %>
  </div>

  <div>
    <label>Confirm Password</label>
    <%= password_field_tag :password_confirmation %>
  </div>

  <%= submit_tag "Reset Password" %>
<% end %>