
<% if logged_in? %>
  <h1>Welcome to My Rails App</h1>
  <p>This is the home page.</p>
  <p><%= @message %></p>
  <%= link_to "Go to Dashboard", dashboard_path %>

  <p>Logged in as <%= current_user.email %></p>
  <%= button_to "Logout", logout_path, method: :delete %>
<% else %>
  <%= link_to "Sign Up", signup_path %> |
  <%= link_to "Login", login_path %>
<% end %>
